.calcbody{
    height: 550px;
    width: 400px;
    background-color: rgb(207, 220, 228);
    border-radius: 35px;
    filter: drop-shadow(2px 2px 200px rgb(207, 220, 228));
    transition: all .5s ease-in-out;
}
.calcbody:hover{
    scale: 1.06;
}
body{
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0px;
    padding: 0px;
}
.screen{
    width: 95%;
    height:100px;
    background-color: rgb(173, 172, 172);
    border-radius: 20px;
    margin: 9px 9px;
    display: flex;
    justify-content: right;
    align-items:last baseline;
    
}

#AC,#ONE ,#TWO, #THREE, #FOUR, #FIVE ,#SIX ,#SEVEN ,#EIGHT ,#NINE ,#ZERO,#plus,#minus,#multiply,#divide,#equal{
    height: 60px;
    width: 60px;
    background-color: rgb(247, 186, 113);
    border-radius: 50%;
    filter: drop-shadow(5px 2px 5px black);
    margin-left: 20px;
    margin-top: 10px;
    transition: all .2s ease-in-out ;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    cursor: hand;
}
.number{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 30px;
}
#AC:hover,#ONE:hover ,#TWO:hover, #THREE:hover, #FOUR:hover, #FIVE:hover ,#SIX:hover ,#SEVEN:hover ,#EIGHT:hover ,#NINE:hover ,#ZERO:hover,#plus:hover,#minus:hover,#multiply:hover,#divide:hover,#equal:hover{
    scale: 1.2;
}
p{
    margin-top: 8px;
}
.final{
    font-size: 30px;
    padding: 5px;
}